.contact-container {
  margin-top: 0;
}
.background-styles {
  display: grid;
  grid-template-rows: 30% 70%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -999;
}
.background-style-top {
  background: pink;
  width: 20%;
}
.background-style-down {
  background: var(--clr-white);
}
/* =====MEDIA QUERRIES(MEDIUM)====== */

@media screen and (max-width: 1024px) {
}
/* =====MEDIA QUERRIES(SMALL)====== */

@media screen and (max-width: 600px) {
}
