header {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
  top: 0;
}

.video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -2;
  top: 0;
  left: 0;
}
header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(27, 2, 18, 0.925));
  z-index: -1;
}
.header-page {
  display: grid;
  place-items: center;
}
.header-page h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1rem;
  margin-top: 3rem;
  font-weight: 100;
}
.header-page h3 {
  margin: 5rem 0 1rem 0;
  color: var(--clr-white);
  font-size: 1.1rem;
  text-align: center;
}
/* ===========MEDIA QUERRIES MEDIUM ========*/
@media screen and (max-width: 1024px) {
  .header-page h1 {
    font-size: 3rem;
  }
}
/* ===========MEDIA QUERRIES SMALL ========*/
@media screen and (max-width: 600px) {
  .header-page h1 {
    font-size: 2rem;
    /* line-height: 0.9; */
  }
}
