#works {
  height: max-content;
  padding-top: 4rem;
}
.offers-wrapper small {
  color: whitesmoke;
  margin-bottom: 0.5rem;
}

.offers-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

@media screen and (max-width: 1024px) {
  .offers-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #works {
    padding-top: 6rem;
  }
  .offers-wrapper {
    grid-template-columns: 1fr;
    margin-top: 1.8rem;
  }
}
